@import "./breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");

$primary-color: rgb(199, 199, 199);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  transition: 0.3s ease-in-out;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

input,
button {
  border: 0;
  outline: 0;
}

header {
  display: flex;
  flex-direction: column;
  margin: 32px 5%;
  justify-content: space-between;
  align-items: center;

  @include desktop {
    flex-direction: row;
  }
}

.input-search,
.btn-search {
  padding: 12px 24px;
}

.search-form {
  width: 100%;
  display: flex;

  .search {
    display: flex;
    width: 100%;
    position: relative;
    flex-grow: 1;
    .input-search {
      width: 100%;
      border-bottom: 1px solid $primary-color;
    }

    .suggestions-block {
      position: absolute;
      top: 40px;
      min-width: 300px;
      width: fit-content;
      background-color: $primary-color;
      height: 0;
      opacity: 1;
      transition: 0.3s ease-in-out;
      z-index: 9999;
      .suggestion {
        display: block;
        padding: 0;
        width: 100%;
        height: 0;
        cursor: pointer;
        list-style: none;
        opacity: 0;
        transition: 0.3s ease-in-out;
        &:hover {
          background-color: rgb(179, 179, 179);
        }
      }
    }
    .suggestions-block.show-suggestions {
      height: fit-content;
      opacity: 1;

      .suggestion {
        opacity: 1;
        padding: 24px 32px;
        height: fit-content;
      }
    }
  }

  .btn-search {
    background-color: transparent;
    border-bottom: 1px solid $primary-color;
    cursor: pointer;

    i {
      transition: 0.3s ease-in-out;
    }

    &:hover {
      i {
        transform: translateY(-6px) scale(1.4);
      }
    }
  }
  @include desktop {
    width: 50%;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25vh;
  grid-gap: 16px;
  grid-auto-flow: dense;

  .grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
      transition: 0.5s ease-in-out;
      position: relative;
    }
    .btns-action {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      right: 0;
      z-index: 999;
      background-color: rgba($primary-color, 0.5);

      button,
      a {
        background-color: transparent;
        padding: 12px;
        color: #000;
        transition: 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
        }
      }
      i {
        font-size: 2em;
      }
    }
    &:hover {
      &::after {
        width: 200%;
        left: -50%;
        top: -150%;
        background-color: rgba(255, 255, 255, 0.3);
      }
      img {
        transform: scale(1.3);
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -200%;
      height: 400%;
      width: 0;
      transform: rotate(45deg);
      background-color: rgba(255, 255, 255, 0.6);
      transition: 0.5s ease-in-out;
      z-index: 1;
    }
  }
  @include phone-landscape {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50vh;
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
  }
  @include tablet-landscape {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 25vh;
  }
  @include desktop {
    grid-template-columns: repeat(6, 1fr);
  }
}

.w-2 {
  grid-column: span 2;
}
.h-2 {
  grid-row: span 2;
}

.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 9999;
}
.icon-style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: #000;
  border: 2px solid #000;
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
